@import url("common.css");

/* header file */

header {
  /* 헤더 전체 영역 */
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
  /* 헤더안에 글씨들을 가운데 정렬해주기 위해 100px로 고정후 높이는 100으로 바꿈. */
  line-height: 100px;
  /* 헤더 고정시키고 탑에 고정. */
  position: fixed;
  top: 0;
  /* 포지션을 사용시 가로길이 100%가 깨지므로 100%다시 설정. */
  width: 100%;
  /* 가운데 정렬에 포지션을 사용했기 때문에 zindex부여. */
  z-index: 9999;
}

header .inner-header {
  /* 헤더 안에 헤더 반응형 사이트에서 편한 헤더임. */
  width: 84%;
  margin: 0 auto;
}
/*  */
header .inner-header .logo {
  /* 헤더 로고 액자 */
  float: left;
  width: 200px;
}
header .inner-header .logo img {
  /* 액자 안의 사진이다. 100%는 액자의 크기에 딱 맞게 하는 것.*/
  width: 100%;
}
/*  */
header .inner-header .gnb {
  /* 가운데 헤더 */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* 가운데 헤더 안의 영역들을 개별로 잡은거나 마찬가지. 수직배치이므로 수평배치로 바꾼다. */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  /* background: red; */
  display: block;
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: #ff8342;
}
/*  */

header .inner-header .tnb {
  /* 오른쪽 헤더 */
  float: right;
  color: #fff;
}

header .inner-header .tnb li {
  /* 오른쪽 헤더들 수직배치를 수평으로 바꾸고 오른쪽에 25px정도 띄움 */
  float: left;
  margin-right: 25px;
  font-size: 16px;
}

header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  font-size: 14px;
}
header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: #ff8342;
}
header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}

header .inner-header .gnb-mobile {
  /* 모바일버전에 있는 햄버거 아이콘 숨김. */
  display: none;
}
/* 여기까지 헤더 끝. */
/* 화면 전체인 섹션 메인 */
section.main {
  background: url("../img/vis_4.jpg") no-repeat center/cover fixed;
  height: 100vh;
  /* 밑에 메인 타이틀에서 포지션 앱솔을 줬기 때문에 메인을 기준으로 가운데 정렬 시켜야 하므로 포지션 부여. */
  position: relative;
}
section.main .main-title {
  /* background: red; */
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
}
section.main .main-title h2 {
  font-size: 55px;
}
section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  /* 가상 박스 넘치는 걸 숨길 수 있음. */
  overflow: hidden;
}
/* 가상의 회색 박스임. */
section.main .main-title .view::after {
  /* 커튼역할이라고 생각하면 됨. */
  content: "";
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  /* 트랜지션을 걸 땐 부모에 걸어야하므로 여기에 검. */
  transition: 0.3s;
}
section.main .main-title .view:hover::after {
  width: 100%;
}
/* 메인 끝 */
/* section > div.title 공통 style */
section .title {
  text-align: center;
}

section .title h2 {
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555;
}

section .sub-container {
  width: 74%;
  margin: 0 auto;
  /* background: tomato; */
}
/* 공통 스타일인 가운데 정렬 끝. */

/* section.about style */
section.about {
  margin: 80px 0;
}
section.about ul.sub-container {
  /* background: orange; */
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
}
section.about ul.sub-container li {
  float: left;
  width: 33.3333%;
  /* 가운데만 2줄이라 길기 때문에 높이를 고정으로 해놓음. */
  height: 510px;
}
/* a에 마우스르 ㄹ올리면 이미지 박스안에 이미지를 확대하기. */
section.about ul.sub-container li a:hover .img-box img {
  transform: scale(1.2);
}
/* 액자에 사진 100퍼로 만들기 */
section.about ul.sub-container li .img-box img {
  /* opacity: 0.3; */
  width: 100%;
  /* 이미지 확대가 0.6초가 걸리게함 . hover가 없는 쪽에 효과를 줘야함. */
  transition: 0.6s;
}
section.about ul.sub-container li .img-box {
  /* 위에 hover부분에 확대했을 때 액자를 벗어난 부분을 숨기라고 입력. */
  /* border: 3px solid yellow; */
  overflow: hidden;
}
/* 텍스트 칸 패딩 넣기 */
section.about ul.sub-container li .text {
  padding: 25px;
}

section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}

section.about ul.sub-container li .text .more {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
}

section.about ul.sub-container li .text .more::before {
  /* 도형안에 글씨 넣기 */
  content: "→";
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #ff8342;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
}
/* 1번째 섹션 끝 */

section.innovation {
  height: 700px;
}

div.sub-container.img-box {
  /* border: 1px solid #000; */
  background: url(../img/product_1.jpg);
  height: 500px;
  margin: 40px auto;
  position: relative;
}
div.sub-container .inner {
  width: 80%;
  /* border: 1px solid #000; */
  position: absolute;
  bottom: -10%;
  background: #fff;
  left: 10%;
  height: 200px;
}
/* 박스1 */
div.sub-container .inner .en {
  /* border: 1px solid #000; */
  padding: 20px;
  text-indent: 10px;
  font-size: 1.2em;
}
div.sub-container .inner .bottom {
  background: rgb(29, 29, 51);
  height: 142px;
  color: white;
  position: relative;
}
div.sub-container .inner .bottom p {
  color: white;
  text-indent: 15px;
  /* border: 1px solid white; */
  float: left;
  height: 100%;
  width: 62%;
  display: block;
  text-align: justify;
  margin: 60px;
  margin-left: 80px;
}
div.sub-container .inner a {
  /* border: 1px solid yellow; */
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: orange;
  border-radius: 15px;
  bottom: 39%;
  right: 9%;
}
div.sub-container .inner a:hover {
  background: rgb(184, 127, 22);
}
section.me {
  background: url(../img/me.jpg) no-repeat center/cover;
  width: 100%;
  border: 1px solid #000;
  height: 700px;
  padding: 50px;
  margin-bottom: 100px;
}
section.me ul.sub-container {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 30px;
}

section.me ul.sub-container li h3 {
  /* border: 1px solid #000; */
  font-size: 1.2em;
  padding: 15px;
  position: relative;
}

section.me ul.sub-container li p:nth-child(2) {
  /* border: 1px solid #000; */
  font-size: 12px;
  padding-left: 30px;
  line-height: 15px;
}
section.me ul.sub-container li .more {
  /* border: 1px solid #000; */
  padding-left: 30px;
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

section.me ul.sub-container li .more .fa {
  color: orange;
}

section.me ul.sub-container li h3 .fa {
  position: absolute;
  left: -40px;
  color: orange;
}

section.me ul.sub-container li h3 span {
  position: relative;
}
section.me ul.sub-container li h3 .far {
  position: absolute;
  left: -40px;
  color: orange;
}
section.me ul.sub-container .in {
  /* border: 1px solid #000; */
  /* font-weight: bold; */
  float: left;
  display: block;
  width: 100%;
  line-height: 40px;
  padding: 15px;
  padding-left: 30px;
  /* border: 1px solid #000; */
  margin-bottom: 10px;
}
section.me ul.sub-container .in .clearfix em {
  /* border: 1px solid blue; */
  height: 33.333%;
  float: left;
  font-weight: bold;
  position: relative;
}
section.me ul.sub-container .in .clearfix em::after {
  width: 5px;
  height: 5px;
  background: orange;
  content: "";
  display: block;
  position: absolute;
  right: -40px;
  top: 20px;
  border-radius: 50%;
}
section.me ul.sub-container .in .clearfix p {
  /* border: 1px solid black; */
  height: 41.11px;
  float: right;
  display: block;
  padding-top: 14px;
  width: 90%;
}

section.me ul.sub-container {
  padding: 0;
}
section.me ul.sub-container > li {
  /* border: 1px solid #000; */
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 30px;
}
section.me ul.sub-container .zlzl {
  border-bottom: 2px solid #bfb4b4;
}

/*  */

section.sns .title {
  margin-bottom: 80px;
  /* border: 1px solid #000; */
}
/* 타이틀 부분 */
section.sns .sub-container {
  /* border: 1px solid #000; */
}
section.sns .sub-container li {
  /* border: 1px solid #000; */
  float: left;
  width: 31.6666%;
  height: 500px;
}
section.sns .sub-container .img-box img {
  /* border: 1px solid yellow; */
  /* height: 100%; */
  width: 100%;
}

section.sns .sub-container .img-box {
  height: 50%;
  overflow: hidden;
}
section.sns .sub-container .n1 .img-box {
  /* border: 10px solid purple; */
  height: 50%;
}
section.sns .sub-container .n1 {
  float: left;
  margin-right: 2.5%;
}

section.sns .sub-container .n2 {
  float: left;
  margin-right: 2.5%;
}

section.sns .sub-container li a .bottom {
  display: block;
  padding-top: 20px;
  padding-left: 10px;
}
section.sns .sub-container li a .bottom > p:nth-child(1) {
  /* border: 1px solid #000; */
  color: orange;
  padding: 10px;
  padding-left: 20px;
}
section.sns .sub-container li a .bottom > p:nth-child(2) {
  /* border: 1px solid yellow; */
  padding: 10px;
  padding-top: 3px;
  font-size: 1.1em;
  padding-left: 20px;
}
section.sns .sub-container li a .bottom > p:nth-child(3) {
  /* border: 1px solid blue; */
  color: gray;
  padding-left: 20px;
}
section.sns .sub-container li a .bottom .time .far {
  padding-right: 5px;
}

footer .inner {
  /* border: 1px solid #000; */
  float: left;
  width: 100%;
  height: 150px;
  border-top: 1px solid black;
}

footer .inner .ft-logo {
  float: left;
  /* border: 1px solid #000; */
  width: 25%;
  height: 150px;
  overflow: hidden;
}
footer .inner .address {
  /* border: 1px solid #000; */
  float: left;
  width: 25%;
  height: 150px;
  padding-top: 75px;
  font-size: 1em;
  font-weight: 600;
}
footer .inner .address li.en {
  font-size: 0.9em;
  color: gray;
}
footer .inner .list {
  float: left;
  width: 50%;
  /* border: 1px solid #000; */
  height: 150px;
}
footer .inner .list li {
  float: left;
}
footer .inner .list li {
  float: left;
  width: 20%;
  line-height: 150px;
  padding-left: 15px;
}
footer .inner .list .num {
  font-weight: 600;
}
section.me #incruit-btn {
  border: 1px solid #000;
  padding: 5px 50px;
  background: orange;
  border-radius: 30px;
  color: #fff;
  position: absolute;
  left: 45%;
}
section.me #incruit-btn:hover {
  background: rgb(83, 59, 15);
}

/* 반응형 웹 디자인 */
/* 노트북 해상도 1600px 미만 */
/* 반응형 웹 디자인 */
/* 노트북 해상도 1600px 미만 */
@media (max-width: 1600px) {
  header .inner-header,
  section .sub-container,
  footer .inner {
    width: 95%;
  }
  header .inner-header .gnb {
    margin-left: 50px;
  }
  header .inner-header .gnb li {
    margin-right: 40px;
  }
  section.main .main-title {
    width: 60%;
  }
}

/* 태블릿 L사이즈, 노트북 S사이즈 해상도 */
@media (max-width: 1024px) {
  header .inner-header nav {
    display: none;
  }

  header .inner-header .gnb-mobile {
    display: block;
    font-size: 40px;
    color: #fff;
    float: right;
  }
  section.main .main-title {
    width: 80%;
  }
  section.main .main-title h2 {
    font-size: 40px;
  }
  section.innovation .img-box {
    height: 400px;
  }
  section.innovation .img-box .inner .bottom {
    padding: 25px 55px;
  }
  section.me ul.list ul.in li p::before {
    left: -20px;
  }
  section.sns ul li .img-box {
    height: 175px;
  }
  section.sns ul li .bottom {
    padding-left: 5px;
  }

  footer .inner .list {
    display: none;
  }
  footer .inner .ft-logo {
    margin-top: 15px;
  }
}

/* 태블릿 768px 해상도 (아이패드 미니) */
@media screen and (max-width: 768px) {
  section.main .main-title h2 {
    font-size: 40px;
  }
  section.main .main-title p {
    font-size: 20px;
  }

  section.about .sub-container li {
    float: none;
    width: 100%;
    margin-bottom: 150px;
  }

  section.about .sub-container li .img-box {
    height: 500px;
  }

  section.innovation .img-box .inner .bottom {
    padding: 30px;
  }

  section.innovation .img-box .inner .bottom p {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  section.innovation .img-box .inner .bottom a {
    float: none;
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
  }

  section.me {
    padding: 50px 0;
  }

  section.me ul.list ul.in li em {
    float: none;
    width: 100%;
    font-size: 17px;
    margin-bottom: 5px;
  }

  section.sns ul li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  section.sns ul li a .img-box {
    height: 380px;
  }

  section.sns ul li a .bottom p.time {
    margin-top: 10px;
  }

  footer .inner .ft-logo {
    float: none;
    width: 30%;
    margin: 0 auto;
  }
  footer .inner .address {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

/* 모바일 414px 해상도 (아이폰 678 plus) */
@media screen and (max-width: 414px) {
  header {
    height: 60px;
    line-height: 60px;
  }
  header .inner-header .logo {
    width: 130px;
    position: absolute;
    top: -3px;
    left: 0;
  }

  section.main .main-title h2 {
    font-size: 30px;
  }
  section.main .main-title p {
    font-size: 16px;
  }

  section.main .main-title .view {
    width: 150px;
    font-size: 14px;
  }

  section .title h2 {
    font-size: 25px;
  }
  section .title p {
    font-size: 14px;
  }

  section.about {
    padding: 30px 0;
  }

  section.about ul li {
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: #fafafa;
    margin-bottom: 10px;
  }

  section.about ul li a .img-box {
    height: 300px;
  }

  section.innovation .img-box {
    height: 400px;
  }

  section.me ul.list > li {
    padding: 20px 20px 20px 45px;
  }
  section.me ul.list > li p {
    text-align: justify;
  }

  section.sns ul li a .img-box {
    height: 200px;
  }

  footer {
    padding: 20px 0;
  }
}

/* 모바일 320px 해상도 (아이폰5 / SE) */
@media screen and (max-width: 320px) {
  br.mo {
    display: block;
  }

  .wrap {
    min-width: 320px;
  }

  header .inner-header .logo {
    width: 140px;
    height: auto;
  }

  header .inner-header .gnb-mobile {
    font-size: 32px;
    margin-right: 15px;
    position: absolute;
    right: 0;
    bottom: 2px;
  }

  section.main .main-title h2 {
    font-size: 22px;
  }

  section.main .main-title p {
    font-size: 14px;
  }

  section.about ul li a .img-box {
    height: 200px;
  }

  section.about ul li a .text {
    padding: 15px;
  }

  section.about ul li a .text h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  section.about ul li a .text p {
    font-size: 15px;
    margin-bottom: 5px;
  }

  section.innovation .img-box {
    height: 300px;
  }

  section.me {
    margin-bottom: 40px;
  }

  section.sns ul li a .img-box {
    height: 170px;
  }

  section.sns ul li a .bottom {
    padding: 20px 10px;
  }
}
